$weight-bold:600;
$weight-semibold:500;

$pn-size-22: 1.375rem;
$price-size-32: 2rem;
$sel-size-14: 0.875rem;
$review-size-13: 0.8125rem;

$color-black: #000;
$color-point: #59afff;
$color-white: #fff;
$color-gray-bd: #bdbdbd;
$color-gray-75: #757575;
$color-gray-dtcolor: #828c94;

@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}
@mixin flex-col {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}