@use './common.scss' as *;

#wrap{
    margin: 0 auto;
    width: 1400px;
    .path {
        padding: 20px 0;
        @include flex-row-center;
        justify-content : flex-start;
        font-size: $additionaldesc-text-14px;
        svg {margin-right: 10px;}
        a {
            margin-right: 10px;
            &:last-child {margin-right: 0;}
        }
    }
    .container {
        @include flex-row-spacebet;
        align-items: start;
        margin-bottom: 120px;
        .left{
            width: max-content;
            height: 678px;
            @include flex-row-center;
            gap : 10px;
            .thumb_bar{
                width : 86px;
                @include flex-col-center;
                height: 100%;
                .up{
                    margin-bottom: 10px;
                    transform: scale(-1);
                }
                .imgcontainer{
                    height : 610px;
                    overflow: hidden;
                .small_img {
                    @include flex-col-spacebet;
                    .active {
                        border: 1px solid $color-111;
                    }
                    a {
                        width : 84px;
                        height: 84px;
                        margin-bottom: 10px;
                        overflow: hidden;
                        border-radius: 10px;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                        }
                    }
                }
                .down {
                    margin-top: 10px;
                }
            }
            .display_img{
                position: relative;
                .big_img {
                    width: 508px;
                    height: 678px;
                    border-radius: 10px;
                    overflow: hidden;
                    img {
                        width: 508px;
                        height: 678px;
                    }
                    
                }
                .pic_nav {
                    @include flex-row-center;
                    gap: 10px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 20px;
                    span {width: 8px; height: 8px; border-radius: 4px; background-color: #2f2f2f; opacity: 0.3;}
                    .active {width: 14px; height: 14px; border-radius: 7px; background: #2f2f2f; opacity: 1; ;}
                }
            }
        } 
    .right{
        width: 706px;
        .righttop {
            @include flex-row-center;
            margin-bottom: 30px;
            .product_name {
                font-size: $title-text-30px;
                font-weight: $font-SemiBold;
                line-height: $line-height-150;
            }
            .share {width: 24px; height: 24px;}
        }
        .describe {
            margin-bottom: 30px;
            p{
                line-height: $line-height-150;
                font-weight: $font-medium;
                color: $color-gray666;
            }
        }
        .intro_price {
            margin-bottom: 30px;
            p:nth-child(1) {
                margin-bottom: 10px;
                del {
                    font-size: $price-text-20px;
                    color: $color-gray999;
                }
                .refer {
                    color: $color-gray999;
                    font-size: $additionaldesc-text-14px;
                }
            }
            .price_introduce{
                position: relative;
                .discount_per{
                    color: $color-red;
                    font-size: $price-text-20px;
                    font-weight: $font-SemiBold;
                }
                .discount_price{
                    font-size: $price-text-20px;
                    font-weight: $font-SemiBold;}
                .welcome {
                    font-size: $additionaldesc-text-14px;
                    color: $color-gray999;
                }
                #info {
                    color: $color-gray999;
                    &:hover + .invisible_info {
                        display: block;
                    }
                }
                .invisible_info{
                    font-size: $benefit-text-13px;
                    width: max-content;
                    color: $color-333;
                    padding: 9px 14px;
                    border-radius: 8px;
                    background-color: $color-white;
                    border: 1px solid $color-111;
                    position: absolute;
                    left: 215px;
                    bottom: -40px;
                    display: none;
                }
            }
        }
        .bene_allcontainer {
            overflow: hidden;
            margin-bottom: 30px;
            .bene_bnr {
                width: max-content;
                height: 96px;
                @include flex-row-center;
                .content {
                padding: 20px;
                width: 448px;
                height: 96px;
                background-color: $color-grayf6;
                border-radius: 10px;
                margin-right: 14px;
                .bnr_title{
                    font-size: $benetitle-text-12px; font-weight: $font-SemiBold;
                    color: $color-gray999; margin-bottom: 10px;
                }
                .text {
                    font-size: $benefit-text-13px; font-weight: $font-medium;
                    line-height: $line-height-150;
                }
            }}
            
        }
        .delivery {
            padding: 30px 0;
            margin-bottom: 30px;
            border-top: 1px solid #E5E5E5 ;
            border-bottom: 1px solid #E5E5E5 ;
            h2 {
                font-size: $additionaldesc-text-14px;
                font-weight: $font-SemiBold;
            }
            span {
                font-size: $additionaldesc-text-14px;
                font-weight: $font-medium;
            }
        }
        .order_list {
            border: 1px solid #E5E5E5;
            padding: 24px;
            border-radius: 10px;
            background-color: $color-white;
            margin-bottom: 30px;
            .order_title {
                font-weight: $font-Bold;
                line-height: $line-height-150;
                margin-bottom: 20px;
            }
            .orderlist_row{
                @include flex-row-spacebet;
                .btn {
                    @include flex-row-center;
                    width: max-content;
                    height: 30px;
                    background-color: $color-white;
                    #minusbtn{
                        height: 30px;
                        width: 30px;
                        line-height: 30px;
                        border: 1px solid #E5E5E5;
                        svg {
                            transform: translateY(-5px);
                        }
                    }
                    #plusbtn{
                        width: 30px;
                        height: 30px;
                        background-color: $color-white;
                        line-height: 30px;
                        border: 1px solid #E5E5E5;
                    }
                    #amount {
                        width: 45px;
                        height: 30px;
                        text-align: center;
                        background-color: $color-white;
                        line-height: 30px;
                        border: 1px solid #E5E5E5;
                    }
                }
                span { em{}}
            }
        }
        .total {
            margin-bottom: 30px;
            @include flex-row-spacebet;
            .sum_price {
                font-weight: $font-Bold;
            }
            .totalarea {
                .totalprice {
                    font-size: $title-text-30px;
                    font-weight: $font-Bold;
                }
                .totalamoumt {
                    font-size: $additionaldesc-text-14px;
                    font-weight: $font-SemiBold;
                }
            } 
        }
        .btngroup {
            margin-bottom: 30px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 5px;
            #heart {
                svg {}
                border-radius: 6px;
                width: 58px; height: 58px;
                border : 1px solid $color-111;
                }
            .buygroup {
                display: flex;
                flex-flow: row nowrap;
                width: max-content;
                height: 60px;
                border-radius: 6px;
            border : 1px solid $color-111;
            #cart {
                height: 60px;
                width: 320px;
                font-size: $Gnb-text-18px;
                font-weight: $font-medium;
            }
            #buynow {
                height: 60px;
                width: 320px;
                color: $color-white;;
                background-color: $color-111;
                font-size: $Gnb-text-18px;
                font-weight: $font-medium;
            }
            }
        }
        .notice {
            display: grid;
            grid-template-columns:10px 1fr;
                dt{}
                dt:nth-of-type(1){}
                dt:nth-of-type(2){}
                dd{
                    line-height: $line-height-150;
                    font-size: $additionaldesc-text-14px;
                }
                dd:nth-of-type(1){}
                dd:nth-of-type(2){}

        }
    }
}
}