header {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 90px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header a {
  width: 160px;
  height: 30px;
}
header a img {
  width: 100%;
  height: 100%;
}
header .gnb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .gnb li {
  padding: 0 30px;
}
header .gnb li a {
  font-size: 1.125rem;
  font-weight: 600;
  width: max-content;
  height: 100%;
  padding: 30px 0px;
  position: relative;
  z-index: 30;
}
header .gnb li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #553131;
  position: absolute;
  z-index: 40;
  bottom: 25px;
  transform-origin: left;
}
header .icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header .icon a {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}
header .icon a img {
  width: 100%;
  height: 100%;
}
header .icon a:nth-child(3) {
  margin-right: 0;
}

#wrap {
  margin: 0 auto;
  width: 1400px;
}
#wrap .path {
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
}
#wrap .path svg {
  margin-right: 10px;
}
#wrap .path a {
  margin-right: 10px;
}
#wrap .path a:last-child {
  margin-right: 0;
}
#wrap .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  margin-bottom: 120px;
}
#wrap .container .left {
  width: max-content;
  height: 678px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#wrap .container .left .thumb_bar {
  width: 86px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#wrap .container .left .thumb_bar .up {
  margin-bottom: 10px;
  transform: scale(-1);
}
#wrap .container .left .thumb_bar .imgcontainer {
  height: 610px;
  overflow: hidden;
}
#wrap .container .left .thumb_bar .imgcontainer .smallimg {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
#wrap .container .left .thumb_bar .imgcontainer .smallimg .active {
  border: 1px solid #111;
}
#wrap .container .left .thumb_bar .imgcontainer .smallimg a {
  width: 84px;
  height: 84px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
}
#wrap .container .left .thumb_bar .imgcontainer .smallimg a img {
  width: 100%;
  object-fit: cover;
}
#wrap .container .left .thumb_bar .down {
  margin-top: 10px;
}
#wrap .container .left .display_img {
  position: relative;
  width: 508px;
  height: 678px;
  overflow: hidden;
  border-radius: 10px;
}
#wrap .container .left .display_img .big_img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 5080px;
  border-radius: 10px;
}
#wrap .container .left .display_img .big_img img {
  width: 508px;
  height: 678px;
}
#wrap .container .left .display_img .pic_nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
#wrap .container .left .display_img .pic_nav span {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #2f2f2f;
  opacity: 0.3;
}
#wrap .container .left .display_img .pic_nav .active {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #2f2f2f;
  opacity: 1;
}
#wrap .container .right {
  width: 706px;
}
#wrap .container .right .righttop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#wrap .container .right .righttop .product_name {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.5;
}
#wrap .container .right .righttop .share {
  width: 24px;
  height: 24px;
}
#wrap .container .right .describe {
  margin-bottom: 30px;
}
#wrap .container .right .describe p {
  line-height: 1.5;
  font-weight: 500;
  color: #666;
}
#wrap .container .right .intro_price {
  margin-bottom: 30px;
}
#wrap .container .right .intro_price p:nth-child(1) {
  margin-bottom: 10px;
}
#wrap .container .right .intro_price p:nth-child(1) del {
  font-size: 1.25rem;
  color: #999;
}
#wrap .container .right .intro_price p:nth-child(1) .refer {
  color: #999;
  font-size: 0.875rem;
}
#wrap .container .right .intro_price .price_introduce {
  position: relative;
}
#wrap .container .right .intro_price .price_introduce .discount_per {
  color: #F22525;
  font-size: 1.25rem;
  font-weight: 600;
}
#wrap .container .right .intro_price .price_introduce .discount_price {
  font-size: 1.25rem;
  font-weight: 600;
}
#wrap .container .right .intro_price .price_introduce .welcome {
  font-size: 0.875rem;
  color: #999;
}
#wrap .container .right .intro_price .price_introduce #info {
  color: #999;
}
#wrap .container .right .intro_price .price_introduce #info:hover + .invisible_info {
  display: block;
}
#wrap .container .right .intro_price .price_introduce .invisible_info {
  font-size: 0.8125rem;
  width: max-content;
  color: #333;
  padding: 9px 14px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #111;
  position: absolute;
  left: 215px;
  bottom: -40px;
  display: none;
}
#wrap .container .right .bene_allcontainer {
  overflow: hidden;
  margin-bottom: 30px;
}
#wrap .container .right .bene_allcontainer .bene_bnr {
  width: max-content;
  height: 96px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#wrap .container .right .bene_allcontainer .bene_bnr .content {
  padding: 20px;
  width: 448px;
  height: 96px;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-right: 14px;
}
#wrap .container .right .bene_allcontainer .bene_bnr .content .bnr_title {
  font-size: 0.75rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 10px;
}
#wrap .container .right .bene_allcontainer .bene_bnr .content .text {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.5;
}
#wrap .container .right .delivery {
  padding: 30px 0;
  margin-bottom: 30px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#wrap .container .right .delivery h2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 6px;
}
#wrap .container .right .delivery #delcost {
  font-size: 0.875rem;
  font-weight: 500;
}
#wrap .container .right .order_list {
  border: 1px solid #E5E5E5;
  padding: 24px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}
#wrap .container .right .order_list .order_title {
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
#wrap .container .right .order_list .orderlist_row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#wrap .container .right .order_list .orderlist_row .btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 30px;
  background-color: #fff;
}
#wrap .container .right .order_list .orderlist_row .btn #minusbtn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 1px solid #E5E5E5;
}
#wrap .container .right .order_list .orderlist_row .btn #minusbtn svg {
  transform: translateY(-5px);
}
#wrap .container .right .order_list .orderlist_row .btn #plusbtn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  border: 1px solid #E5E5E5;
}
#wrap .container .right .order_list .orderlist_row .btn #amount {
  width: 45px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  line-height: 30px;
  border: 1px solid #E5E5E5;
}
#wrap .container .right .total {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#wrap .container .right .total .sum_price {
  font-weight: 700;
}
#wrap .container .right .total .totalarea .totalprice {
  font-size: 1.875rem;
  font-weight: 700;
}
#wrap .container .right .total .totalarea .totalamoumt {
  font-size: 0.875rem;
  font-weight: 600;
}
#wrap .container .right .btngroup {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#wrap .container .right .btngroup #heart {
  border-radius: 6px;
  width: 58px;
  height: 58px;
  border: 1px solid #111;
}
#wrap .container .right .btngroup .buygroup {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #111;
}
#wrap .container .right .btngroup .buygroup #cart {
  height: 60px;
  width: 320px;
  font-size: 1.125rem;
  font-weight: 500;
}
#wrap .container .right .btngroup .buygroup #buynow {
  height: 60px;
  width: 320px;
  color: #fff;
  background-color: #111;
  font-size: 1.125rem;
  font-weight: 500;
}
#wrap .container .right .notice {
  display: grid;
  grid-template-columns: 10px 1fr;
}
#wrap .container .right .notice dd {
  line-height: 1.5;
  font-size: 0.875rem;
}

/*# sourceMappingURL=main.css.map */
